[app]
debug=debug
lang=zh
host=localhost
port=8080

[database]
host=127.0.0.1
port=3306
username=root
password=root
charset=utf8mb4
maxidle=10
maxopen=100

[log]
level=debug
path=./storage/log

[redis]
host=127.0.0.1
port=6379
password=123456
db=0